name: Check for Plugin Updates & Release Caddy

on:
  schedule:
    - cron: '43 3 6 * *'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  update-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24
          cache: false

      # - name: Check for module updates
      #   run: |
      #     go list -m -u all | grep -v "(latest)" || echo "No updates"
      #     go get -u ./...
      #     go mod tidy

      # - name: Check if go.mod or go.sum changed
      #   id: changes
      #   run: |
      #     if git diff --quiet go.mod go.sum; then
      #       echo "No dependency updates detected."
      #       echo "updated=false" >> "$GITHUB_OUTPUT"
      #     else
      #       echo "Dependencies changed."
      #       echo "updated=true" >> "$GITHUB_OUTPUT"
      #     fi

      # - name: Commit updated go.mod/go.sum
      #   if: steps.changes.outputs.updated == 'true'
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: "chore(deps): update Caddy plugins"
      #     branch: main

      - name: Extract version & bump
        # if: steps.changes.outputs.updated == 'true'
        id: tag
        run: |
          git fetch --tags
          LATEST=$(git tag --sort=-v:refname | head -n 1 | sed 's/v//')
          [ -z "$LATEST" ] && LATEST="0.0.0"
          IFS='.' read -r MAJOR MINOR PATCH <<< "$LATEST"
          PATCH=$((PATCH + 1))
          NEW_TAG="v$MAJOR.$MINOR.$PATCH"
          echo "version=$NEW_TAG" >> $GITHUB_OUTPUT

      - name: Set up Docker
        # if: steps.changes.outputs.updated == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        # if: steps.changes.outputs.updated == 'true'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        # if: steps.changes.outputs.updated == 'true'
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/caddy:latest
            ghcr.io/${{ github.repository_owner }}/caddy:${{ steps.tag.outputs.version }}
          platforms: |
            linux/amd64
          # platforms: |
          #   linux/amd64
          #   linux/arm64

      - name: Create Git tag
        # if: steps.changes.outputs.updated == 'true'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag ${{ steps.tag.outputs.version }}
          git push origin ${{ steps.tag.outputs.version }}
